@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  --background: #222529;
  --foreground: #d5dfe2;
}
@theme {
  /* 1. Change the global heading color for light mode */
  --color-heading: #ffffff; /* Example: Deep Blue */

  /* You can also reference other Tailwind colors directly */
  /* --color-heading: var(--color-blue-900); */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
